@model Employee
@{
    ViewData["Title"] = "Create";
}


<h1>Create New Employee</h1>

<div class="row">
    <div class="col=6">
        <form asp-action="Create" asp-controller="Employee">
            <div class="col-12">
                <label for="empName" class="col-form-label">Employee Name :</label>
                <input asp-for="@Model.Name" type="text"
                       class="form-control" id="empName" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label for="empAddress" class="col-form-label">Employee Address :</label>
                <input type="text" asp-for="@Model.Address" class="form-control" id="empAddress"
                       placeholder="Employee Address" />
                <span asp-validation-for="@Model.Address" class="text-danger "> </span>
            </div>
            <div class="col-12">
                <label for="empEmail" class="col-form-label">Employee Email :</label>
                <input type="email" asp-for="@Model.Email" class="form-control" id="empEmail"
                       placeholder="Employee Email" />
                <span asp-validation-for="@Model.Email" class="text-danger "> </span>
            </div>
            <div class="col-12">
                <label for="empHiringDate" class="col-form-label">Employee Hiring Date :</label>
                <input type="date" asp-for="@Model.HiringDate" class="form-control" id="empHiringDate"
                       placeholder="HiringDate" />
                <span asp-validation-for="@Model.HiringDate" class="text-danger "> </span>
            </div>
            <div class="col-12">
                <label for="empAge" class="col-form-label">Employee Age :</label>
                <input type="number" max="80" min="16" asp-for="@Model.Age" class="form-control" id="empAge"
                       placeholder="Age" />
                <span asp-validation-for="@Model.Age" class="text-danger "> </span>
            </div>
            <div class="col-12">
                <label for="empPhoneNumber" class="col-form-label">Employee Phone Number :</label>
                <input type="text" asp-for="@Model.PhoneNumber" class="form-control" id="empPhoneNumber"
                       placeholder="Phone Number" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger "> </span>
            </div>
            <div class="col-12">
                <label for="empSalary" class="col-form-label">Employee Salary :</label>
                <input type="number" asp-for="@Model.Salary" class="form-control" id="empSalary"
                       placeholder="Salary" />
                <span asp-validation-for="@Model.Salary" class="text-danger "> </span>
            </div>
            <div class="col-12">
                <label for="empImage" class="col-form-label">Employee Image :</label>
                <input type="file" asp-for="@Model.ImageUrl" class="form-control" id="empImage"
                       placeholder="Image" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger "> </span>
            </div>
            <div class="col-12">
                <label for="empDepartmentID" class="col-form-label">Employee Department :</label>
                <select asp-for="DepartmentId" class="form-control">
                    <option value="">-- Select Department --</option>
                    @foreach (var dept in ViewBag.Departments as SelectList)
                    {
                        <option value="@dept.Value">@dept.Text</option>
                    }
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="col-12 d-flex justify-content-between align-items-lg-center">
                @* <button type="submit" class="btn btn-primary mb-3">Add</button> *@
                <input type="submit" class="btn btn-primary my-3" value="Add" />

                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
            <div>
                @Html.ValidationSummary(true, "", "Error While Adding Employee");
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
