@model IEnumerable<EmployeeDto>
@{
    ViewData["Title"] = "Index";
}

<h1>
    All Employees
</h1>
<div class="w-100 d-flex align-content-center justify-content-lg-end">
    <button type="button" class="btn btn-primary">
        <a asp-action="Create" class="text-light text-decoration-none">Create Employee</a>
    </button>
</div>
<br />
<div class="row justify-content-center algin-items-center mt- ">
    <form class="row col-8 offset-2" asp-action="Index">
        <div class=" col-8">
            <input type="text" class="form-control" name="searchInput" placeholder="Search by Name ....." />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>
@if (Model.Count() > 0 )
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d => d.Id)</th>
                <th>@Html.DisplayNameFor(d => d.Image)</th>
                <th>@Html.DisplayNameFor(d => d.Name)</th>
                <th>@Html.DisplayNameFor(d => d.Address)</th>
                <th>@Html.DisplayNameFor(d => d.Age)</th>
                <th>@Html.DisplayNameFor(d => d.Email)</th>
                @* <th>@Html.DisplayNameFor(d => d.Department.Name)</th> *@
                <th>Department Name</th>
                <th>@Html.DisplayNameFor(d => d.CreatedAt)</th>
                <th>@Html.DisplayNameFor(d => d.UpdatedAt)</th>
                <th>Details</th>
                <th>Update </th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>
                       <img src="~/Files/Images/@employee.ImageUrl" height="40" width="40" alt="EmployeeImage" />
                    </td>
                    <td>@employee.Name</td>
                    <td>@employee.Address</td>
                    <td>@employee.Age</td>
                    <td>@employee.Email</td>
                    <td>@employee.Department?.Name ||  @employee.DepartmentId</td>
                    <td>@employee.CreatedAt</td>
                    <td>@employee.UpdatedAt</td>
                    <partial name="_ActionButtonPartialView" model="@employee.Id.ToString()"></partial>
                </tr>
            }
        </tbody>
    </table>
}
else
{

    <div class="alert alert-warning" role="alert">
        <center>
            There is No Employees
        </center>
    </div>
}
