@model  DepartmentDto
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
@if(Model != null)
{
    <form asp-controller="Department" asp-action="Update">
        
   
    <div class="card my-3">
        <h5 class="card-header">@Model.Name</h5>
        <div class="card-body">
            <h5 class="card-title"> <span class="text-danger">Name:</span> </h5>
            <input asp-for="@Model.Name" type="text" class="form-control" readonly />
            <label class="card-text"> <span class="text-danger">Code : </span> </label>
            <input asp-for="@Model.Code" type="text" class="form-control" readonly/>
            <p class="card-text"><span class="text-danger">Created At :</span>@Model.CreatedAt</p>
            <p class="card-text"><span class="text-danger">Updated At :</span> @Model.UpdatedAt</p>
            <h5 class="card-title"> <span class="text-danger">Employes:</span>  </h5>
            @if(Model.Employees.Count() > 0)
            {
                @for (int i = 0; i < Model.Employees.Count(); i++)
                {

                        <table class="table table-striped w-50">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                 </tr>
                            </thead>
                            <tbody>
                            @foreach (var emp in Model.Employees)
                            {
                                <tr>
                                    <td>@emp.Id</td>
                                    <td>@emp.Name</td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    
                }                
            }else{
                <div class="alert alert-warning" role="alert">
                    NO Employees for @Model.Name Department
                </div>
            }

        </div>
    </div>
        <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-success">Go to Update </a>
    </form>
}
else
{
    <div class="alert alert-warning" role="alert">
       Department not Exist
    </div>
}
