@model IEnumerable<DepartmentDto>

@{
    ViewData["Title"] = "Index";
}

@* <div class="alert alert-warning" role="alert">
    <p>@ViewBag.Message </p>
</div>

<div class="alert alert-primary" role="alert">
    <p>@ViewData["Message"] </p>
</div>

<div class="alert alert-primary" role="alert">
    <p>@TempData["MessageTemp"] </p>
</div> *@
<h1>
    All Departments
</h1>
<div class="w-100 d-flex align-content-center justify-content-lg-end">
    <button type="button" class="btn btn-primary">
        <a asp-action="Create" class="text-light text-decoration-none">Create Department</a>
    </button>
</div>
<br />
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d => d.Code)</th>
                <th>@Html.DisplayNameFor(d => d.Name)</th>
                <th>@Html.DisplayNameFor(d => d.CreatedAt)</th>
                <th>@Html.DisplayNameFor(d => d.UpdatedAt)</th>
                <th>Details</th>
                <th>Update </th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var depart in Model)
            {
                <tr>
                    <th>@depart.Code</th>
                    <td>@depart.Name</td>
                    <td>@depart.CreatedAt</td>
                    <td>@depart.UpdatedAt</td>
                    <partial name="_ActionButtonPartialView" model="@depart.Id.ToString()"></partial>
                </tr>                      
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        <center>
            <p>There is No Departments</p>
        </center>
    </div>
}